[submodule "InfiniTime"]
	path = InfiniTime
	url = https://github.com/Tubbles/InfiniTime.git
	branch = clock-sync
[submodule "deskclock"]
	path = deskclock
	url = https://github.com/GrapheneOS/platform_packages_apps_DeskClock
	branch = 17
[submodule "phone/deskclock-app"]
	path = phone/deskclock-app
	url = https://github.com/Tubbles/Clock.git
	branch = clocksync
[submodule "phone/dialer-app"]
	path = phone/dialer-app
	url = https://github.com/Tubbles/Phone.git
	branch = keytones
